body, div {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: #0D1431;
    margin: 0;
}

.wide {
    display: none;
}

.mob {
    position: relative;
    width:600px
}

.logo-box {
    width: fit-content;
    padding: 20px;
}

.logo {
    width: 100%;
    height: auto;
    max-width: 400px;
}

@media(min-width: 1024px) {
    body {
        justify-content: flex-end;
        align-items: flex-end;
    }

    .logo {
        width: 100%;
        height: auto;
    }

    .mob {
        display: none;
    }

    .wide {
        display: block;
        position: absolute;
        bottom: 0;
        left: 50px;
        height: 700px;
        z-index: -1;
    }
}

