body, div {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: #0D1431;
    margin: 0;
    overflow: hidden;
}

.wide {
    display: none;
}

.mob {
    position: relative;
    width:600px
}

.logo-box {
    width: fit-content;
    padding: 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.logo {
    width: 100%;
    height: auto;
    max-width: 400px;
}

.coffee {
    color: #DF622C;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: larger;
    line-height: 0cm;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
}

svg {
    width: 30px;
    height: auto;
}

.coffee:hover {
    color: #0D1431;
    background-color: #DF622C;
}

@media(min-width: 1024px) {
    body {
        justify-content: flex-start;
        align-items: flex-end;
        flex-direction: row;
    }

    .logo {
        width: 100%;
        height: auto;
    }

    .logo-box {
        flex-direction: column;
        align-items: flex-start;
    }

    .mob {
        display: none;
    }

    .wide {
        display: block;
        height: 700px;
    }
}

